.vue-slider-process {
  background-color: theme("colors.default-red");
}

.vue-slider-dot-tooltip-inner {
  border-color: theme("colors.default-red");
  background-color: theme("colors.default-red");
}

@tailwind base;
@tailwind components;

.btn-primary {
  @apply flex items-center py-2 px-4 tracking-wide bg-default-red text-gray-200 font-bold rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700 whitespace-nowrap;
}

.base-input {
  @apply w-full mt-1 px-4 py-2 block rounded bg-white dark:bg-black-dark text-black-medium dark:text-gray-300 border border-gray-500 dark:border-gray-700 focus:border-default-blue focus:outline-none focus:ring;
}

.base-input-label {
  @apply text-gray-200 font-bold text-xs uppercase;
}

.base-input-error {
  @apply text-default-red text-sm font-medium;
}

@tailwind utilities;

/* Fade transaction */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

h1 {
  @apply text-4xl sm:text-5xl font-bold leading-10 tracking-tight;
}

h2 {
  @apply text-3xl sm:text-4xl font-bold leading-8 tracking-tight;
}

h3 {
  @apply text-2xl sm:text-3xl font-semibold leading-7 tracking-tight;
}

h4 {
  @apply text-lg sm:text-2xl font-semibold leading-6 tracking-tight;
}

h5 {
  @apply text-base sm:text-lg font-semibold leading-6 tracking-tight;
}

p {
  @apply text-black-medium dark:text-gray-200 leading-8 tracking-wide;
  font-size: 18px;
}
